.rss-news-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-height: 40vh;
}

.ant-page-header {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.rss-news-page-header {
  width: 100%;
  min-height: 200px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin-top: 10px;
}

.rss-news_button-container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.rss-news_button-container button {
  margin-right: 10px;
}

.rss-news_cards-container {
  display: flex;
  flex-wrap: wrap;
}

.rss-news_cards-container .ant-card {
  max-width: 31%;
  min-width: 300px;
  margin: 0 auto 15px auto;
}

.rss-news_cards-container .ant-card div img {
  max-width: 100%;
}

.card-header {
  width: 100%;
  margin-bottom: 10px;
}

.card-header a {
  color: black;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.card-content p {
  text-align: justify;
  margin-bottom: 5px;
}

.card-content a {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

.card-header a:hover {
  color: #1890ff;
}

@media (max-width: 1080px) {
  .rss-news_cards-container .ant-card {
    max-width: 48%;
  }
}

@media (max-width: 710px) {
  .rss-news_cards-container .ant-card {
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .rss-news-container {
    width: 90%;
  }
}