.currencies-container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.currencies-container-currencies {
  margin-top: 5vh;
}

.currency-name {
  overflow-wrap: normal;
}
