.navigation {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center
}

.navigation a {
  color: white;
  margin: 0 5px 0 5px;
}

.navigation a.active,
.navigation a:hover {
  color: #40a9ff;
}

@media (max-width: 400px) {
  .navigation {
    margin-right: 10px;
  }
}

@media (max-width: 360px) {
  .navigation {
    flex-direction: column;
    font-size: 15px;
    text-transform: uppercase;
  }

  .navigation a {
    color: black;
  }
}
