.navigation {
  margin-right: 30px;
  display: flex;
}

.navigation a {
  color: white;
  margin: 0 5px 0 5px;
}

.navigation a.active,
.navigation a:hover {
  color: #40a9ff;
}

@media (max-width: 630px) {
  .navigation {
    margin-right: 5px;
  }
}

@media (max-width: 570px) {
  .navigation {
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
    text-transform: uppercase;
  }

  .navigation a {
    color: black;
    margin: 15px auto 15px auto;
  }
}
