.header {
  height: 45px;
  width: 100vw;
  background: #000d24;
}

.header-content {
  height: 80%;
  width: 90%;
}

.header-content h2 {
  margin-bottom: 0;
  line-height: 1;
  color: white;
}

.header, 
.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-button {
  border: 2px solid white;
  color: white;
  margin-right: 10px;
}

.ant-drawer-header {
  padding: 11px 10px;
}

.ant-drawer-close {
  padding: 14px;
}

@media (max-width: 450px) {
  .header-content {
    width: 95%;
  }
}

@media (max-width: 360px) {
  .header-content {
    width: 90%;
    justify-content: space-between;
  }
}