.header {
  height: 45px;
  width: 100vw;
  background: #000d24;
}

.header-content {
  height: 80%;
  width: 90%;
}

.header-content h2 {
  margin-bottom: auto;
  color: white;
}

.header, 
.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
