.edit-user-modal .ant-modal-body {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.edit-user-modal_button-submit-container .ant-form-item-control-input-content {
  display: flex;
  align-items: center;
}

.edit-user-modal_button-submit-container button {
  margin: 0 auto;
}
