body {
  overflow-x: hidden;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px; 
  background-color: #F5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #000d24;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}